################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PROG7312Workshop/FileContentIndex/e4f2c78b-df6e-483e-9c54-f12e4a999720.vsidx
